/* Fonts */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'ZCOOL XiaoWei', serif; */

body {
  font-family: 'Open Sans', sans-serif !important; 
}
.text-slanted {
  font-family: 'ZCOOL XiaoWei', serif; 
}